<p data-hook="pre_discount_price"><%= f.label :pre_discount_price, t("pre_discount_price") %>:<br />
<%= f.text_field :pre_discount_price, :value => number_with_precision(@variant.pre_discount_price, :precision => 2) %></p>